version: '3'
services:
  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: qwertyui
    ports:
      - "3306:3306"
    volumes:
      - ./static:/var/lib/mysql